<link rel="stylesheet" href="https://registry.npmmirror.com/weblive2d/latest/files/waifu.css">
  <script async="async" src="https://registry.npmmirror.com/weblive2d/latest/files/js/autoload.js"></script>
  <script>
    function removelrc() {
      const lrcIcon = document.querySelector(".aplayer-icon-lrc");
      if (! lrcIcon) {
        return;
      }
      observer.disconnect();
      setTimeout(() => {
        lrcIcon.click();
      }, 1);
    }
    const observer = new MutationObserver((mutationsList, observer) => {
      for (let mutation of mutationsList) {
        if (mutation.type === "childList") {
          removelrc();
        }
      }
    });
    const observerConfig = {
      childList: true,
      subtree: true
    };
    function initializeRuntimeCounter() {
      const start = new Date("2024/01/27 21:52:00");
      function update() {
        const now = new Date();
        now.setTime(now.getTime() + 250);
        const days = (now - start) / 1000 / 60 / 60 / 24;
        const dnum = Math.floor(days);
        const hours = (now - start) / 1000 / 60 / 60 - 24 * dnum;
        const hnum = Math
          .floor(hours)
          .toString()
          .padStart(2, '0');
        const minutes = (now - start) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum;
        const mnum = Math
          .floor(minutes)
          .toString()
          .padStart(2, '0');
        const seconds = (now - start) / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum;
        const snum = Math
          .round(seconds)
          .toString()
          .padStart(2, '0');
        document.getElementById("timeDate").innerHTML = "距今已艰难运行了&nbsp" + dnum + "&nbsp天&nbsp";
        document.getElementById("times").innerHTML = hnum + "&nbsp小时&nbsp" + mnum + "&nbsp分&nbsp" + snum + "&nbsp秒";
      }
      update();
      setInterval(update, 1000);
    }
    document.addEventListener("DOMContentLoaded", initializeRuntimeCounter);
    document.addEventListener("pjax:complete", initializeRuntimeCounter);
    const copyrightAuthor = document.querySelector(".copyright").querySelector(".author");
    copyrightAuthor.addEventListener("click", (event) => {
      window.open("https://ciallo.cc/");
    });
    copyrightAuthor.addEventListener("mouseover", (event) => {
      copyrightAuthor.style.textDecoration = "underline";
      copyrightAuthor.style.cursor = "pointer";
    });
    copyrightAuthor.addEventListener("mouseout", (event) => {
      copyrightAuthor.style.textDecoration = "none";
    });
  </script>
  <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.css">
    <div
      class="aplayer"
      data-id="8464409595"
      data-server="netease"
      data-type="playlist"
      data-fixed="true"
      data-autoplay="false"
      data-order="random"
      data-volume="0.3"
      data-mutex="true"
      data-listMaxHeight="36vh"></div>
    <script async="async" src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.js"></script>
    <script async="async" src="https://npm.elemecdn.com/butterfly-extsrc/dist/Meting.min.js"></script>