body:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('/img/cute.webp');
    opacity: 0.3;
    z-index: -1;
}

.post .post-block .post-footer {
    position: relative;
    margin-top: 280px;
}

.main .post .post-block .post-footer:before {
    content: ' ';
    background: url('/img/skirt.webp') center / contain no-repeat;
    height: 368px;
    width: 100%;
    display: block;
    position: absolute;
    top: -295px;
    left: 0;
    pointer-events: none;
}

.aplayer-list, .aplayer-list-index, .aplayer-list-title, .aplayer-list-author, .aplayer-title, .aplayer-info, .aplayer-music *, .aplayer-icon {
    background: var(--card-bg-color);
    color: var(--text-color) !important;
}

.aplayer-list ol li, .aplayer-music {
    text-align: initial !important;
}

@media (max-width: 960px) {
    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
        left: -66px !important;
    }

    .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
        left: 0 !important;
    }
}